/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Justin Wilson
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */

/* 1.  Includes (fonts and supplementary stylesheets) */
/* 1.1 Normalize */
@import url('normalize.css');
/* 1.2 Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Sansita');

/* 2. General */
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: helvetica, verdana, sans-serif;
	font-size: 20px;
	background-image: url("images/rain.jpg"); 			/*Not working*/
	background-size: 100%;
}

#page-header {
	display: flex;
	width: 100%;
	overflow-wrap: initial
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: sansita, Eurostyle, sans-serif;
	margin: 0em;
}

.tile {
	background-color: rgba(200, 200, 200, .6);
	margin: .2em auto;
	border: 1px solid;
	border-radius: 15px;
	padding: 10px;
	text-align: center;
}

nav ul li {
	display: flex;
	list-style: none;
	padding: 0px;
	vertical-align: center;
}

nav ul li a {
	color: white;
	text-decoration: none;
}

#page-nav {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #0e89d5;
	width: 100%;
	font-size: 16px;
	text-align: center;
	z-index: 100;
}

#nav-list {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 0px;
	margin: 20px;
}

footer {
	margin-bottom: 4em;
	font-size: 20px;
	background-color: #0e89d5;
}

#site-brand {
	font-size: 1.8em;
	font-weight: 600;
	background-color: #0e89d5;
	margin: 0px;
	padding: 0px;
	width: 100%;
  }

#temp {
	font-size: 80px;
	margin: 0px;
}

#high {
	color: #b33a3b;
	margin-left: 5px;
	margin-right: 5px;
}

#low {
	color: #0000aa;
	margin-left: 5px;
	margin-right: 5px;
}

#city {
	margin: .2em;
}

#cityInfo {
	font-size: 14px;
	margin: 5px;
}



#HourlyForecast ul li {
	display: inline-block;
	list-style: none;
}

#feelsLike {
	margin: 0px;
}

#windInfo {
	font-size: 16px;
	margin: 0px;
}

#hourly-forecast-list {
	display: flex;
	flex-flow: row nowrap;
	overflow: auto;
}

#hourly-forecast-list li {
	flex-shrink: 0;
}

/* Centered text */
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0px;
	color: black;
  }

  .windImg {
	position: relative;
	text-align: center;
	margin: 10px;
  }

#windDir {
	transform: rotate(-135deg);
	width: 50%;
}

  #CurrentConditions img {
	  width: 90%;
	  margin-top: 20px;
  }

 /*  3.  Mobile First (styles specific to small screens) */

 /*  4.  Large Screen Styles (Media Queries begin here */
 @media screen and (min-width: 700px) {
	#page-nav {
	position: relative;
	margin-top: 0px;
 	} 
 
	#nav-list {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 15px;
	margin: 0px;
	}

	#Temperature{
		width: 33.33%;
	}
	
	#Wind{
		width: 33.33%;
	}
	
	#CurrentConditions{
		width: 33.33%;
	}
	
	main {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	#site-brand {
		font-size: 3em;
	}

	#cityInfo {
		font-size: 20px;
	}

	#HourlyForecast {
		width: 100%;
	}
	
	nav ul li {
		font-size: 16pt;	
	}
}

@media screen and (min-width: 1200px) {
	#Temperature {
		position: relative;
	}
	
	#tempBox {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}